<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stores</title>
 
<style>
th, td {
    padding: 5px;
}
</style>
 
</head>
 
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Manager ID</th>
            <th>Adress ID</th>
        </tr>
        <tr th:each="Store : ${Stores}">
            <td th:utext="${Store.storeId}">..</td>
            <td th:utext="${Store.managerId}">..</td>
            <td th:utext="${Store.addressId}">..</td>
        </tr>
 
    </table>
</body>
</html>